<div id="showmsg"></div>
<div id="showmsgt"></div>

<div id="submit" type="submit">submit</div>
<%- name %>

<script style="text/javascript">

    var protocol = ('https:' == document.location.protocol ? 'https://' : 'http://');
    var locationOrigin = document.location.origin;
    var socket = io.connect(locationOrigin);

    socket.on('message', function (message) {
        $('#showmsg').text('The server has a message for you: ' + message);
        console.log(message);
    });

    socket.on('send-data-test', function (messagensp) {
        $('#showmsgt').text('messagensp for you: ' + messagensp);
        console.log(messagensp);
    });

    $('#submit').on('click', function () {
        socket.emit('send-data-test', '34567890');
    });

</script>