<div class="list-contact">
    <div class="search-results-contacts">
        <div class="box-action-friend">
            <div class="name-contact"><span class="name-act"> AAAA</span>
                <i class="act-aptach fa fa-close" aria-hidden="true"></i></div>
            <div class="name-contact"><span class="name-act"> BBBB</span>
                <i class="act-aptach fa fa-close" aria-hidden="true"></i></div>
            <div class="name-contact"><span class="name-act"> CCCCCC</span>
                <i class="act-aptach fa fa-close" aria-hidden="true"></i></div>
            <div class="name-contact"><span class="name-act"> SSSSSS</span>
                <i class="act-aptach fa fa-close" aria-hidden="true"></i></div>
            <div class="name-contact"><span class="name-act"> SSSSSS</span>
                <i class="act-aptach fa fa-close" aria-hidden="true"></i></div>
            <div class="name-contact"><span class="name-act"> SSSSSS</span>
                <i class="act-aptach fa fa-close" aria-hidden="true"></i></div>
            <div class="name-contact"><span class="name-act"> SSSSSS</span>
                <i class="act-aptach fa fa-close" aria-hidden="true"></i></div>
            <div class="name-contact"><span class="name-act"> SSSSSS</span>
                <i class="act-aptach fa fa-close" aria-hidden="true"></i></div>
            <div class="name-contact"><span class="name-act"> SSSSSS</span>
                <i class="act-aptach fa fa-close" aria-hidden="true"></i></div>
            <div class="name-contact"><span class="name-act"> SSSSSS</span>
                <i class="act-aptach fa fa-close" aria-hidden="true"></i></div>
            <div class="name-contact"><span class="name-act"> SSSSSS</span>
                <i class="act-aptach fa fa-close" aria-hidden="true"></i></div>
            <div class="name-contact"><span class="name-act"> SSSSSS</span>
                <i class="act-aptach fa fa-close" aria-hidden="true"></i></div>
        </div>
    </div>
    <div class="search-contacts">
        <input class="search" type="text" maxlength="20">
    </div>
    <div class="data-contact">
        <ul>
            <li class="contact-list">
                <div class="wap-contact" data-conversation="" data-type="single" data-channel="" data-owner="4">
                    <img src="/images/users.png" alt="">
                    <div class="meta-contact">
                        <p class="">bqngoc11229 undefine<i class="badges-notify">132</i></p>
                        <p class="">r</p>
                    </div>
                </div>
            </li>

            <li class="contact-list">
                <div class="wap-contact">
                    <img src="http://emilcarlsson.se/assets/louislitt.png" alt="">
                    <div class="meta-contact">
                        <p class="">Louis Litt</p>
                        <p class="">You just got LITT up, Mike.</p>
                    </div>
                </div>
            </li>
            <li class="contact-list">
                <div class="wap-contact">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="">
                    <div class="meta-contact">
                        <p class="">Harvey Specter</p>
                        <p class="">Wrong. You take the gun, or you pull out a bigger one. Or, you call their
                            bluff. Or, you do any one of a hundred and forty six other things.</p>
                    </div>
                </div>
            </li>
            <li class="contact-list">
                <div class="wap-contact">
                    <img src="http://emilcarlsson.se/assets/rachelzane.png" alt="">
                    <div class="meta-contact">
                        <p class="">Rachel Zane</p>
                        <p class="">I was thinking that we could have chicken tonight, sounds good?</p>
                    </div>
                </div>
            </li>
            <li class="contact-list">
                <div class="wap-contact">
                    <img src="http://emilcarlsson.se/assets/donnapaulsen.png" alt="">
                    <div class="meta-contact">
                        <p class="">Donna Paulsen</p>
                        <p class="">Mike, I know everything! I'm Donna..</p>
                    </div>
                </div>
            </li>
            <li class="contact-list">
                <div class="wap-contact">
                    <img src="http://emilcarlsson.se/assets/jessicapearson.png" alt="">
                    <div class="meta-contact">
                        <p class="">Jessica Pearson</p>
                        <p class="">Have you finished the draft on the Hinsenburg deal?</p>
                    </div>
                </div>
            </li>
            <li class="contact-list">
                <div class="wap-contact">
                    <img src="http://emilcarlsson.se/assets/haroldgunderson.png" alt="">
                    <div class="meta-contact">
                        <p class="">Harold Gunderson</p>
                        <p class="">Thanks Mike! :)</p>
                    </div>
                </div>
            </li>
            <li class="contact-list">
                <div class="wap-contact">
                    <img src="http://emilcarlsson.se/assets/danielhardman.png" alt="">
                    <div class="meta-contact">
                        <p class="">Dan</p>
                        <p class="">WeTell Jessica I said 'Hi'.</p>
                    </div>
                </div>
            </li>
            <li class="contact-list">
                <div class="wap-contact">
                    <img src="http://emilcarlsson.se/assets/danielhardman.png" alt="">
                    <div class="meta-contact">
                        <p class="">Daniel Hardman</p>
                        <p class="">We'll meet again, Mike. Tell Jessica I said 'Hi'.</p>
                    </div>
                </div>
            </li>
            <li class="contact-list">
                <div class="wap-contact">
                    <img src="http://emilcarlsson.se/assets/katrinabennett.png" alt="">
                    <div class="meta-contact">
                        <p class="">Katrina Bennett</p>
                        <p class="">I've sent you the files for the Garrett trial.</p>
                    </div>
                </div>
            </li>
            <li class="contact-list">
                <div class="wap-contact">
                    <img src="http://emilcarlsson.se/assets/danielhardman.png" alt="">
                    <div class="meta-contact">
                        <p class="">Daniel Hardman</p>
                        <p class="">We'll meet again, Mike. Tell Jessica I said 'Hi'.</p>
                    </div>
                </div>
            </li>
            <li class="contact-list">
                <div class="wap-contact">
                    <img src="http://emilcarlsson.se/assets/katrinabennett.png" alt="">
                    <div class="meta-contact">
                        <p class="">Katrina Bennett</p>
                        <p class="">I've sent you the files for the Garrett trial.</p>
                    </div>
                </div>
            </li>
            <li class="contact-list">
                <div class="wap-contact">
                    <img src="http://emilcarlsson.se/assets/jonathansidwell.png" alt="">
                    <div class="meta-contact">
                        <p class="">Jonathan Sidwell</p>
                        <p class=""><span>You:</span> That's bullshit. This deal is solid.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="action-friend">
        <button class="btn btn-primary add">Add</button>
        <button class="btn btn-primary cancel">Cancel</button>
    </div>
</div>
