<div id="sidebar" class="show-votes" role="complementary" aria-label="sidebar">
    <div class="module newuser newuser-greeting" id="newuser-box" style="display:none;">
        <h4>Hello World!</h4>
        <div>
            <p>This is a collaboratively edited question and answer site for <b>professional and enthusiast
                programmers</b>.
                It's 100% free.</p>
            <p>Got a question about the site itself? <a href="https://meta.stackoverflow.com">meta</a> is the place to
                talk
                about things like what questions are appropriate, what tags we should use, etc.</p>
            <p class="ar">
                <a href="/tour?mnu=1">about »</a>&nbsp;&nbsp;&nbsp;
                <a href="/help?mnu=1">help »</a>
                &nbsp; <a href="https://meta.stackoverflow.com">meta »</a>
            </p>
        </div>
    </div>
    <script>
        console.log('Not bildding variable in render nodejs');
    </script>
    <div class="module question-stats">
        <table id="qinfo">
            <tbody>
            <tr>
                <td>
                    <p class="label-key">asked</p>
                </td>
                <td style="padding-left: 10px">
                    <p class="label-key" title="2009-04-24 04:38:11Z"><b>8 years, 6 months ago</b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label-key">viewed</p>
                </td>

                <td style="padding-left: 10px">
                    <p class="label-key">
                        <b>283,854 times</b>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label-key">active</p>
                </td>
                <td style="padding-left: 10px">
                    <p class="label-key"><b><a href="?lastactivity" class="lastactivity-link"
                                               title="2017-11-10 11:03:29Z">7
                        days ago</a></b></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="module community-bulletin" data-tracker="cb=1">
        <div class="related">
            <div class="bulletin-title">
                Featured on Meta
            </div>
            <hr>
            <div class="spacer">
                <div class="bulletin-item-type">
                    <a href="https://meta.stackoverflow.com/questions/357951/what-can-we-put-in-a-question-template-to-help-people-ask-better-questions?cb=1"
                       class="question-hyperlink">
                        <div class="favicon favicon-stackoverflowmeta" title="Meta Stack Overflow"></div>
                    </a>
                </div>
                <div class="bulletin-item-content">
                    <a href="https://meta.stackoverflow.com/questions/357951/what-can-we-put-in-a-question-template-to-help-people-ask-better-questions?cb=1"
                       class="question-hyperlink">What can we put in a question template to help people ask better
                        questions?</a>
                </div>
                <br class="cbt">
            </div>
            <div class="spacer">
                <div class="bulletin-item-type">
                    <a href="https://meta.stackoverflow.com/questions/358943/what-s-happening-with-channels?cb=1"
                       class="question-hyperlink">
                        <div class="favicon favicon-stackoverflowmeta" title="Meta Stack Overflow"></div>
                    </a>
                </div>
                <div class="bulletin-item-content">
                    <a href="https://meta.stackoverflow.com/questions/358943/what-s-happening-with-channels?cb=1"
                       class="question-hyperlink">What’s Happening With Channels?</a>
                </div>
                <br class="cbt">
            </div>
            <div class="bulletin-title">
                Hot Meta Posts
            </div>
            <hr>
            <div class="spacer">
                <div class="bulletin-item-type">
                    <span title="Vote score (upvotes - downvotes)">35</span>
                </div>
                <div class="bulletin-item-content">
                    <a href="https://meta.stackoverflow.com/questions/359476/why-am-i-earning-documentation-privileges?cb=1"
                       class="question-hyperlink">Why am I earning documentation privileges?</a>
                </div>
                <br class="cbt">
            </div>
            <div class="spacer">
                <div class="bulletin-item-type">
                    <span title="Vote score (upvotes - downvotes)">16</span>
                </div>
                <div class="bulletin-item-content">
                    <a href="https://meta.stackoverflow.com/questions/359408/audit-questions-also-teach-so-why-arent-they-manually-cultivated?cb=1"
                       class="question-hyperlink">Audit questions also teach, so why aren't they manually
                        cultivated?</a>
                </div>
                <br class="cbt">
            </div>
        </div>
    </div>
    <div id="dfp-tsb" class="everyonelovesstackoverflow" style="display: none;"></div>
    <div id="hireme" class="blue tagged tex2jax_ignore x-rem clc-jobs-multi"><a class="top "
                                                                                href="https://stackoverflow.com/jobs/remote-developer-jobs"
                                                                                target="_blank"
                                                                                data-clc-click="https://clc.stackoverflow.com/click?an=48r_xeV1Uveqh27lG78wJiaW2R_1L2y_zbh-i5l2cP4102zGj363A44HMkgy9GxgYGiwZ2RkYJFmWvGffeNZzunHBLklGVIO5AsssnRKZLaXZlq9gmNzE9f5dUKyIPHjzBsto4-bAMV3zeI4_IFzZ7eQAkg8rXeFJV-JLFB8fhvH1Y-cV3uFnEHidn5zLZe8k7dnWDHLlDHH-ty9QCEA&amp;cr=10439&amp;ct=1&amp;url=https%3A%2F%2Fstackoverflow.com%2Fjobs%2Fremote-developer-jobs%3Fmed=clc&amp;sig=rjSgb5uTCXxEmA">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46">
            <g fill="#FFF">
                <path d="M33.35 25.265H11.955c-3.036.182-5.642-2.15-5.823-5.211-.18-3.06 2.133-5.69 5.168-5.871.323-4.711 3.746-8.615 8.343-9.514 4.597-.9 9.22 1.43 11.266 5.677a7.54 7.54 0 0 1 7.96 2.15 7.694 7.694 0 0 1 1.313 8.204 7.58 7.58 0 0 1-6.887 4.565h.055z"
                      opacity=".3"></path>
                <path d="M39.181 18.453a7.301 7.301 0 0 0-1.245-7.784 7.148 7.148 0 0 0-7.546-2.04.392.392 0 0 1-.477-.205c-1.948-4.128-6.418-6.405-10.868-5.536-4.45.87-7.755 4.664-8.035 9.229a.393.393 0 0 1-.368.368c-2.819.169-4.968 2.611-4.8 5.456.168 2.844 2.59 5.011 5.43 4.841h21.381a7.188 7.188 0 0 0 6.528-4.33zm-.66-8.309a8.087 8.087 0 0 1 1.38 8.624 7.973 7.973 0 0 1-7.244 4.8h-21.36c-3.253.194-6.045-2.305-6.239-5.581-.186-3.16 2.113-5.892 5.194-6.256.44-4.77 3.95-8.698 8.643-9.614 4.692-.916 9.404 1.407 11.578 5.667 2.9-.81 6.019.095 8.048 2.36z"></path>
                <path d="M18.948 5.75l.614-.151a.393.393 0 0 0-.188-.763l-.613.151a.393.393 0 0 0 .187.763zm-4.977 5.15a7.252 7.252 0 0 1 2.807-4.083.393.393 0 0 0-.456-.64 8.038 8.038 0 0 0-3.11 4.525.393.393 0 0 0 .759.198zm14.841 18.6v7.659a2.346 2.346 0 0 1-2.335 2.357h-9.695a2.346 2.346 0 0 1-2.335-2.357V29.5a.393.393 0 1 0-.785 0v7.659c0 1.735 1.396 3.143 3.12 3.143h9.695c1.724 0 3.12-1.408 3.12-3.143V29.5a.393.393 0 1 0-.785 0z"></path>
                <path d="M16.904 29.431v-6.256a.393.393 0 1 0-.785 0v6.256a.393.393 0 1 0 .785 0zm9.419 0v-6.256a.393.393 0 1 0-.785 0v6.256a.393.393 0 1 0 .785 0zm-4.7 8.052c-.978 0-1.77-.798-1.77-1.782 0-.983.792-1.781 1.77-1.781s1.77.798 1.77 1.781c0 .984-.792 1.782-1.77 1.782zm0-.786a.99.99 0 0 0 .985-.996.99.99 0 0 0-.985-.996.99.99 0 0 0-.985.996c0 .55.441.996.985.996z"></path>
                <path d="M11.955 29.631h19.322a.393.393 0 0 0 0-.786H11.955a.393.393 0 0 0 0 .786zm28.295 8.455h-2.073c-1.723 0-3.12 1.408-3.12 3.143v1.375a2.346 2.346 0 0 1-2.334 2.357h-8.346a2.346 2.346 0 0 1-2.335-2.357v-2.75a.393.393 0 1 0-.784 0v2.75c0 1.735 1.396 3.143 3.12 3.143h8.345c1.723 0 3.12-1.408 3.12-3.143v-1.375a2.346 2.346 0 0 1 2.334-2.357h2.073a.393.393 0 0 0 0-.786z"></path>
            </g>
        </svg>
        <span>Work from anywhere</span></a>
        <div class="middle">
            <ul class="jobs">
                <li class="x-rem-footer"><p>Work remotely - from home or wherever you choose.</p><a class="x-rem-cta"
                                                                                                    href="https://stackoverflow.com/jobs/remote-developer-jobs"
                                                                                                    target="_blank"
                                                                                                    data-clc-click="https://clc.stackoverflow.com/click?an=48r_xeV1Uveqh27lG78wJiaW2R_1L2y_zbh-i5l2cP4102zGj363A44HMkgy9GxgYGiwZ2RkYJFmWvGffeNZzunHBLklGVIO5AsssnRKZLaXZlq9gmNzE9f5dUKyIPHjzBsto4-bAMV3zeI4_IFzZ7eQAkg8rXeFJV-JLFB8fhvH1Y-cV3uFnEHidn5zLZe8k7dnWDHLlDHH-ty9QCEA&amp;cr=10439&amp;ct=2&amp;url=https%3A%2F%2Fstackoverflow.com%2Fjobs%2Fremote-developer-jobs%3Fmed=clc&amp;sig=g90VKURYjXnGvg">Browse
                    remote jobs</a></li>
            </ul>
        </div>
        <img src="https://clc.stackoverflow.com/impression.gif?an=48r_xeV1Uveqh27lG78wJiaW2R_1L2y_zbh-i5l2cP4102zGj363A44HMkgy9GxgYGiwZ2RkYJFmWvGffeNZzunHBLklGVIO5AsssnRKZLaXZlq9gmNzE9f5dUKyIPHjzBsto4-bAMV3zeI4_IFzZ7eQAkg8rXeFJV-JLFB8fhvH1Y-cV3uFnEHidn5zLZe8k7dnWDHLlDHH-ty9QCEA&amp;md=693"
             class="impression" style="display: none;"></div>
    <script>var clc = {options: {svc: 'dfp'}};</script>

    <script>
        window.clc_request = 'AuXv5UXJLdUI0Ns2AJv4CwACAAAAAgAAAAMMAAAAfGphdmFzY3JpcHR8AL7E1hpd8VSGNhU';
    </script>

    <div style="margin-bottom: 10px;">
        <div id="newsletter-ad">
            <p id="newsletter-ad-header">Get the <b>weekly newsletter!</b> In it, you'll get:</p>
            <ul>
                <li>The week's top questions and answers</li>
                <li>Important community announcements</li>
                <li>Questions that need answers</li>
            </ul>
            <div id="newsletter-signup-container"><input id="newsletter-signup" type="button"
                                                         value="Sign up for the newsletter"></div>
            <p id="newsletter-preview-container">see an <a
                    href="https://stackexchange.com/newsletters/newsletter?site=stackoverflow.com"
                    id="newsletter-preview">example
                newsletter</a></p>
            <div class="dno">

                <p class="privacy-policy-agreement">
                    By subscribing, you agree to the <a href="https://stackexchange.com/legal/privacy-policy"
                                                        name="privacy"
                                                        target="_blank">privacy policy</a> and <a
                        href="https://stackexchange.com/legal/terms-of-service" name="tos" target="_blank">terms of
                    service</a>.</p>
                <input type="hidden" name="legalLinksShown" value="1">
            </div>
        </div>

    </div>


    <div class="module sidebar-related">
        <h4 id="h-related">Related</h4>
        <div class="related js-gps-related-questions" data-tracker="rq=1">
            <div class="spacer js-gps-track"><a href="https://stackoverflow.com/q/154059?rq=1"
                                                title="Vote score (upvotes - downvotes)">
                <div class="answer-votes answered-accepted extra-large">1896</div>
            </a><a href="https://stackoverflow.com/questions/154059/how-do-you-check-for-an-empty-string-in-javascript?rq=1"
                   class="question-hyperlink">How do you check for an empty string in JavaScript?</a></div>
            <div class="spacer js-gps-track"><a href="https://stackoverflow.com/q/263965?rq=1"
                                                title="Vote score (upvotes - downvotes)">
                <div class="answer-votes answered-accepted extra-large">1552</div>
            </a><a href="https://stackoverflow.com/questions/263965/how-can-i-convert-a-string-to-boolean-in-javascript?rq=1"
                   class="question-hyperlink">How can I convert a string to boolean in JavaScript?</a></div>
            <div class="spacer js-gps-track"><a href="https://stackoverflow.com/q/646628?rq=1"
                                                title="Vote score (upvotes - downvotes)">
                <div class="answer-votes answered-accepted extra-large">1455</div>
            </a><a href="https://stackoverflow.com/questions/646628/how-to-check-if-a-string-startswith-another-string?rq=1"
                   class="question-hyperlink">How to check if a string “StartsWith” another string?</a></div>
            <div class="spacer js-gps-track"><a href="https://stackoverflow.com/q/784313?rq=1"
                                                title="Vote score (upvotes - downvotes)">
                <div class="answer-votes answered-accepted default">14</div>
            </a><a href="https://stackoverflow.com/questions/784313/read-line-break-in-a-string-with-javascript?rq=1"
                   class="question-hyperlink">Read line break in a string with JavaScript</a></div>
            <div class="spacer js-gps-track"><a href="https://stackoverflow.com/q/901115?rq=1"
                                                title="Vote score (upvotes - downvotes)">
                <div class="answer-votes answered-accepted extra-large">2706</div>
            </a><a href="https://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript?rq=1"
                   class="question-hyperlink">How can I get query string values in JavaScript?</a></div>
            <div class="spacer js-gps-track"><a href="https://stackoverflow.com/q/1026069?rq=1"
                                                title="Vote score (upvotes - downvotes)">
                <div class="answer-votes extra-large">2586</div>
            </a><a href="https://stackoverflow.com/questions/1026069/how-do-i-make-the-first-letter-of-a-string-uppercase-in-javascript?rq=1"
                   class="question-hyperlink">How do I make the first letter of a string uppercase in JavaScript?</a>
            </div>
            <div class="spacer js-gps-track"><a href="https://stackoverflow.com/q/1144783?rq=1"
                                                title="Vote score (upvotes - downvotes)">
                <div class="answer-votes answered-accepted extra-large">2700</div>
            </a><a href="https://stackoverflow.com/questions/1144783/how-to-replace-all-occurrences-of-a-string-in-javascript?rq=1"
                   class="question-hyperlink">How to replace all occurrences of a string in JavaScript?</a></div>
            <div class="spacer js-gps-track"><a href="https://stackoverflow.com/q/1789945?rq=1"
                                                title="Vote score (upvotes - downvotes)">
                <div class="answer-votes answered-accepted extra-large">6874</div>
            </a><a href="https://stackoverflow.com/questions/1789945/how-to-check-whether-a-string-contains-a-substring-in-javascript?rq=1"
                   class="question-hyperlink">How to check whether a string contains a substring in JavaScript?</a>
            </div>
            <div class="spacer js-gps-track"><a href="https://stackoverflow.com/q/5062614?rq=1"
                                                title="Vote score (upvotes - downvotes)">
                <div class="answer-votes answered-accepted extra-large">2201</div>
            </a><a href="https://stackoverflow.com/questions/5062614/how-to-decide-when-to-use-node-js?rq=1"
                   class="question-hyperlink">How to decide when to use Node.js?</a></div>
            <div class="spacer js-gps-track"><a href="https://stackoverflow.com/q/23740548?rq=1"
                                                title="Vote score (upvotes - downvotes)">
                <div class="answer-votes answered-accepted large">476</div>
            </a><a href="https://stackoverflow.com/questions/23740548/how-to-pass-variables-and-data-from-php-to-javascript?rq=1"
                   class="question-hyperlink">How to pass variables and data from PHP to JavaScript?</a></div>
        </div>
    </div>
</div>