<script>
    function resetCaptcha() {
        document.getElementById('imgCaptcha').src = '/captcha.gif?' + Math.random();
    }

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
        } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into Facebook.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '1709491889268648',
            xfbml: true,
            version: 'v2.6'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function (response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
                'Thanks for logging in, ' + response.name + '!' + response.id;
        });
    }
    function redirectLoginSucess() {
        FB.api('/me', function (response) {
            var name = response.name;
            var facebookId = response.id;
            console.log('name=' + name);
            console.log('facebookId=' + facebookId);
            $("form#formHiddenFB input[name=nameFB]").val(name);
            $("form#formHiddenFB input[name=facebookIdFB]").val(facebookId);
            $("form#formHiddenFB").submit();
        });
    }
</script>

<div class="background-blue" cz-shortcut-listen="true">
    <div class="login-box">
        <form id="register-form" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="_method" value="post">
            <input type="hidden" name="action" value="local" class="width-box80 box"/>
            <p class="title center">ĐĂNG KÝ TÀI KHOẢN</p>
            <p class="input-code">
                <input type="text" name="name" value="" class="width-box80 box" placeholder="Họ và tên"/>
                <label class="name-msg"></label>
            </p>

            <!--if (errors.findIndex(x => x.param=="name") !== -1) { -->
            <!--<div class="alert alert-danger msg-noti">-->
            <!--- errors[errors.findIndex(x => x.param=="name")].msg -->
            <!--</div>-->
            <!--} -->
            <p class="input-code">
                <input type="text" name="email" value="" class="width-box80 box" placeholder="Email"/>
                <label class="email-msg"></label>
            </p>
            <!-- if (errors.findIndex(x => x.param=="email") !== -1) { -->
            <!--<div class="alert alert-danger msg-noti">&lt;!&ndash;- errors[errors.findIndex(x => x.param=="email")].msg &ndash;&gt;-->
            <!--</div>-->
            <!-- } -->
            <p class="input-code">
                <input type="text" name="phone" value="" class="width-box80 box"
                       placeholder="Mobile">
                <label class="phone-msg"></label>
            </p>
            <!-- if (errors.findIndex(x => x.param=="phone") !== -1) { -->
            <!--<div class="alert alert-danger msg-noti">&lt;!&ndash;- errors[errors.findIndex(x => x.param=="phone")].msg &ndash;&gt;-->
            <!--</div>-->
            <!-- } -->
            <p class="input-code">
                <input type="password" name="password" class="width-box80 box" placeholder="Mật khẩu">
                <label class="password-msg"></label>
            </p>
            <!-- if (errors.findIndex(x => x.param=="password") !== -1) { -->
            <!--<div class="alert alert-danger msg-noti">-->
            <!-- - errors[errors.findIndex(x => x.param=="password")].msg -->
            <!--</div>-->
            <!-- } -->
            <p class="input-code">
                <input type="password" name="repassword" class="width-box80 box" placeholder="Nhập lại mật khẩu"/>
                <label class="repassword-msg"></label>
            </p>
            <!-- if (errors.findIndex(x => x.param=="repassword") !== -1) { -->
            <!--<div class="alert alert-danger msg-noti">-->
            <!--- errors[errors.findIndex(x => x.param=="repassword")].msg -->
            <!--</div>-->
            <!-- } -->
            <div class="center">
                <p class="input-code" id="msg-com-error"></p>
                <p class="input-code">
                    <input (click)="clickRegister()" type="button" id="btn-register-form" value="ĐĂNG KÝ"
                           class="buttonDN btn btn-primary">
                </p>
                <p class="input-code">
                    <br> Bạn đã có tài khoản?
                    <a href="/login">Đăng nhập</a>
                </p>
            </div>
        </form>
        <p class="slogan center margin">hoặc</p>
        <div class="login-box-social">
            <div class="input-code">
                <div id="fb-login">
                    <input type="button" value="Đăng nhập qua facebook" class="buttonDN backgroud-fb btn btn btn-info">
                </div>
                <div id="google-login">
                    <input type="button" value="Đăng nhập qua Google" class="buttonDN backgroud-fb btn btn-info">
                </div>
            </div>
        </div>
    </div>
</div>
