<div id="mainbar" role="main" aria-label="question and answers">
    home -----jjjjj--- <% name %>

    <h2>fggdgdg</h2>


    <h3 name="SAAS" ID="fsgsf">vIDDDDDDDDDDDDDDDD</h3>


    <%- gv %>

    <script>
        console.log('Call js bildding variable in render nodejs');

    </script>

    <%- cssChat %>

    <%- include(`${coreHelper.paths.VIEWS}chat/chat.ejs`, [dataInclude]) %>
</div>