<div id="notify-container"></div>
<div id="custom-header"></div>

<app-header></app-header>

<div class="container _full ">
    <div id="content" class="snippet-hidden">
        <app-nav></app-nav>
        <div class="inner-content">
            <div id="question-header">
                <!--- (typeof header !== 'undefined') ? header : '' -->
            </div>

            <div id="<!--- (typeof isNotIncludeSidebar === 'undefined') ? 'mainbar' : ''  -->" role="main"
                 aria-label="question and answers">
                <app-contents></app-contents>
                <!--- body -->
                <!-- (typeof content !== 'undefined') ? content : '' -->
            </div>
            <!-- if (typeof isNotIncludeSidebar === 'undefined') { -->
            <div id="sidebar" class="show-votes" role="complementary" aria-label="sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <!-- } -->
            <div id="feed-link">
                <!--- (typeof header !== 'undefined') ? feedBack : '' -->
            </div>
        </div>
    </div>
</div>

<footer id="footer" class="s-footer js-footer" role="contentinfo">
    <app-footer></app-footer>
</footer>
