<html xmlns="http://www.w3.org/1999/xhtml"><head id="j_idt2">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Get Password - Quên mật khẩu - iNET</title>

    <link href="/resources/css/style.css" rel="stylesheet" type="text/css"></head><body class="background-blue" cz-shortcut-listen="true">
<center>
    <div class="logo-login"><img src="/resources/images/logo-inet.png"></div>
    <p class="slogan">Một mật khẩu dành cho tất cả các dịch vụ</p>
    <div class="login-box">
        <form id="j_idt9" name="j_idt9" method="post" action="/getpass/" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="j_idt9" value="j_idt9">

            <p class="title">QUÊN MẬT KHẨU</p>
            <p class="padding font80 color-gray" style="font-family:fregular;">Nhập địa chỉ email bạn đã đăng ký, chúng tôi sẽ<br>giúp bạn lấy lại mật khẩu</p>
            <p class="input-code"><input type="text" name="j_idt9:j_idt12" class="width-box80 box" placeholder="Địa chỉ email bạn đã đăng ký">
            </p>
            <p class="input-code"><input type="submit" name="j_idt9:j_idt14" value="Gửi mật khẩu" style="vertical-align:middle" class="buttonDN">
            </p><input type="hidden" name="javax.faces.ViewState" id="j_id1:javax.faces.ViewState:0" value="-7257382977386360165:5414477074278608902" autocomplete="off">
        </form>
    </div>
    <p class="footer">©iNET - Email: id@inet.vn - Hotline: 0936.133.316</p>
</center>
</body></html>