<!--<div class="inner-content">-->
    <!--<app-contents-home></app-contents-home>-->

    <!--<div id="question-header">-->
    <!--&lt;!&ndash;- (typeof header !== 'undefined') ? header : '' &ndash;&gt;-->
    <!--</div>-->

    <!--<div id="&lt;!&ndash;- (typeof isNotIncludeSidebar === 'undefined') ? 'mainbar' : ''  &ndash;&gt;" role="main"-->
    <!--aria-label="question and answers">-->
    <!--&lt;!&ndash;<contents-chat></contents-chat>&ndash;&gt;-->
    <!--&lt;!&ndash;- body &ndash;&gt;-->
    <!--&lt;!&ndash; (typeof content !== 'undefined') ? content : '' &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; if (typeof isNotIncludeSidebar === 'undefined') { &ndash;&gt;-->
    <!--<div id="sidebar" class="show-votes" role="complementary" aria-label="sidebar">-->
    <!--<contents-sidebar></contents-sidebar>-->
    <!--</div>-->
    <!--&lt;!&ndash; } &ndash;&gt;-->
    <!--<div id="feed-link">-->
    <!--&lt;!&ndash;- (typeof header !== 'undefined') ? feedBack : '' &ndash;&gt;-->
    <!--</div>-->


    <router-outlet></router-outlet>
<!--</div>-->
