#frame p {
    clear: unset;
    margin: 0;
    padding: 0;
}

#frame ul, ol {
    margin: 0;
    padding: 0;
}

#frame {
    width: 100%;
    min-width: 360px;
    height: 85vh;
    min-height: 300px;
    max-height: 720px;
    background: #E6EAEA;
}

@media screen and (max-width: 360px) {
    #frame {
        width: 100%;
        height: 100vh;
    }
}

#frame #sidepanel {
    float: left;
    min-width: 280px;
    max-width: 340px;
    width: 40%;
    height: 100%;
    background: #2c3e50;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel {
        width: 58px;
        min-width: 58px;
    }
}

#frame #sidepanel #profile {
    width: 80%;
    margin: 25px auto;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile {
        width: 100%;
        margin: 0 auto;
        padding: 5px 0 0 0;
        background: #32465a;
    }
}

#frame #sidepanel #profile.expanded .wrap {
    height: 210px;
    line-height: initial;
}

#frame #sidepanel #profile.expanded .wrap p.user-name-chat {
    margin-top: 0px;
}

#frame #sidepanel #profile.expanded .wrap i.expand-button {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#frame #sidepanel #profile .wrap {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap {
        height: 55px;
    }
}

#frame #sidepanel #profile .wrap img {
    width: 50px;
    border-radius: 50%;
    display: block;
    padding: 3px;
    border: 2px solid #e74c3c;
    height: auto;
    float: left;
    cursor: pointer;
    -moz-transition: 0.3s border ease;
    -o-transition: 0.3s border ease;
    -webkit-transition: 0.3s border ease;
    transition: 0.3s border ease;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap img {
        width: 40px;
        margin-left: 4px;
    }
}

#frame #sidepanel #profile .wrap #accCurrent {
    position: relative;
}

#profile .wrap #accCurrent .btn-status-use {
    width: 15px;
    height: 15px;
    position: absolute;
    margin: 45px 0 0 45px;
    border-radius: 50%;
    cursor: pointer;
}

#profile .wrap #accCurrent .status-hover,
#profile .wrap #accCurrent .btn-status-use:hover {
    background-image: url("./../../../../assets/images/play-green.png") !important;

}

#frame #sidepanel #profile .wrap img.online {
    border: 2px solid #2ecc71;
}

#frame #sidepanel #profile .wrap img.away {
    border: 2px solid #f1c40f;
}

#frame #sidepanel #profile .wrap img.busy {
    border: 2px solid #e74c3c;
}

#frame #sidepanel #profile .wrap img.offline {
    border: 2px solid #95a5a6;
}

#frame #sidepanel #profile .wrap .info-current {
    white-space: nowrap;
    float: left;
    margin-top: 14px;
}

#frame #sidepanel #profile .wrap p {
    clear: unset;
    margin-left: 15px;
}

#frame #sidepanel #profile .wrap .info-current p.user-name-chat {
    line-height: initial;
    cursor: pointer;
}

#frame #sidepanel #profile .wrap .info-current .mood-msg-current {
    clear: unset;
    float: left;
    line-height: normal;
    margin-left: 15px;
    white-space: nowrap;
    margin-top: 7px;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap p {
        display: none;
    }

    #profile .wrap #accCurrent .btn-status-use {
        margin: 38px 0 0 38px;
    }
}

#frame #sidepanel #profile .wrap i.expand-button {
    float: right;
    margin-top: 23px;
    font-size: 0.8em;
    cursor: pointer;
    color: #435f7a;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap i.expand-button {
        display: none;
    }
}

#frame #sidepanel #profile .wrap #status-options {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 150px;
    margin: 70px 0 0 0;
    border-radius: 6px;
    z-index: 99;
    line-height: initial;
    background: #435f7a;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options {
        width: 58px;
        margin-top: 57px;
    }
}

#frame #sidepanel #profile .wrap #status-options.active {
    opacity: 1;
    visibility: visible;
    margin: 75px 0 0 0;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options.active {
        margin-top: 62px;
    }
}

#frame #sidepanel #profile .wrap #status-options:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #435f7a;
    margin: -8px 0 0 24px;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options:before {
        margin-left: 23px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul {
    overflow: hidden;
    border-radius: 6px;
}

#frame #sidepanel #profile .wrap #status-options ul li {
    padding: 10px 0 10px 18px;
    display: block;
    cursor: pointer;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li {
        padding: 15px 0 35px 22px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li:hover {
    background: #496886;
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px 0 0 0;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
        width: 14px;
        height: 14px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    margin: -3px 0 0 -3px;
    background: transparent;
    border-radius: 50%;
    z-index: 0;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
        height: 18px;
        width: 18px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li p {
    padding-left: 12px;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li p {
        display: none;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
    background: #2ecc71;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
    border: 1px solid #2ecc71;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
    background: #f1c40f;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
    border: 1px solid #f1c40f;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
    background: #e74c3c;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
    border: 1px solid #e74c3c;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-hidden span.status-circle,
#frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
    background: #95a5a6;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-hidden.active span.status-circle:before,
#frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
    border: 1px solid #95a5a6;
}

#frame #sidepanel #profile .wrap #expanded {
    padding: 100px 0 0 0;
    display: block;
    line-height: initial !important;
}

#frame #sidepanel #profile .wrap #expanded label {
    float: left;
    clear: both;
    margin: 0 8px 5px 0;
    padding: 5px 0;
}

#frame #sidepanel #profile .wrap #expanded input {
    border: none;
    margin-bottom: 6px;
    background: #32465a;
    border-radius: 3px;
    color: #f5f5f5;
    padding: 7px;
    width: calc(100% - 43px);
}

#frame #sidepanel #profile .wrap #expanded input:focus {
    outline: none;
    background: #435f7a;
}

#frame #sidepanel #box-search-contacts {
    border-top: 1px solid #32465a;
    border-bottom: 1px solid #32465a;
    font-weight: 300;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #box-search-contacts {
        display: none;
    }
}

#frame #sidepanel #box-search-contacts label {
    position: absolute;
    margin: 10px 0 0 20px;
}

#frame #sidepanel #box-search-contacts input {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    padding: 8px 16px 8px 44px;
    width: calc(100% - 60px);
    border: none;
    background: #32465a;
    color: #f5f5f5;
    margin-bottom: 1px;
    /*border-bottom: 1px solid darkgray;*/
}

#frame #sidepanel #box-search-contacts input:focus {
    outline: none;
    background: #435f7a;
}

#frame #sidepanel #box-search-contacts input::-webkit-input-placeholder {
    color: #f5f5f5;
}

#frame #sidepanel #box-search-contacts input::-moz-placeholder {
    color: #f5f5f5;
}

#frame #sidepanel #box-search-contacts input:-ms-input-placeholder {
    color: #f5f5f5;
}

#frame #sidepanel #box-search-contacts input:-moz-placeholder {
    color: #f5f5f5;
}

#frame #sidepanel #contacts {
    height: calc(100% - 177px);
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts {
        height: calc(100% - 149px);
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #frame #sidepanel #contacts::-webkit-scrollbar {
        display: none;
    }
}

#frame #sidepanel #contacts.expanded {
    height: calc(100% - 334px);
}

#frame #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
    background: #2c3e50;
}

#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: #243140;
}

#frame #sidepanel #contacts ul li.contact, #frame #sidepanel #contacts ul li.search-contact {
    position: relative;
    padding: 7px 0;
    font-size: 0.9em;
    cursor: pointer;
    display: -webkit-box;
}

#contacts ul li.search-contact .box-sreach-contact {
    text-align: center;
    margin-top: 10px;
}

#contacts ul li.search-contact .box-sreach-contact input.btn {
    box-sizing: border-box;
    box-shadow: 2px 1px #0054CC;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact {
        padding: 6px 0 46px 8px;
    }
}

#frame #sidepanel #contacts ul li.contact:hover {
    background: #32465a;
}

#frame #sidepanel #contacts ul li.contact.active {
    background: #32465a;
    border-right: 5px solid #435f7a;
}

#frame #sidepanel #contacts ul li.contact.active span.contact-status {
    border: 1px solid #32465a !important;
}

#frame #sidepanel #contacts ul li.contact .wrap, #contacts ul li.search-contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap {
        width: 100%;
    }
}

#frame #sidepanel #contacts ul li.contact .wrap span.list-icon-status {
    position: absolute;
    left: 0;
    margin: -2px 0px 0 -2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #2c3e50;
}

/* current --- list user --- detail user*/
#profile .wrap #accCurrent span.offline,
#frame #sidepanel #contacts ul li.contact .wrap span.list-icon-status,
#frame .content .contact-profile .info-conversation i.offline,
#frame .content #group-participant .list-group-part .info-part span.offline {
    /*background: #95a5a6;*/
    background-image: url("./../../../../assets/images/offline.png");
    background-size: 12px 12px;
    background-repeat: no-repeat;
}

#profile .wrap #accCurrent span.online,
#frame #sidepanel #contacts ul li.contact .wrap span.online,
#frame .content .contact-profile .info-conversation i.online,
#frame .content #group-participant .list-group-part .info-part span.online {
    /*background: #2ecc71;*/
    background-image: url("./../../../../assets/images/online.png");
    background-size: 12px 12px;
    background-repeat: no-repeat;
}

#profile .wrap #accCurrent span.away,
#frame #sidepanel #contacts ul li.contact .wrap span.away,
#frame .content .contact-profile .info-conversation i.away,
#frame .content #group-participant .list-group-part .info-part span.away {
    /*background: #f1c40f;*/
    background-image: url("./../../../../assets/images/away.png");
    background-size: 12px 12px;
    background-repeat: no-repeat;
}

#profile .wrap #accCurrent span.busy,
#frame #sidepanel #contacts ul li.contact .wrap span.busy,
#frame .content .contact-profile .info-conversation i.busy,
#frame .content #group-participant .list-group-part .info-part span.busy {
    /*background: #e74c3c;*/
    background-image: url("./../../../../assets/images/busy.png");
    background-size: 12px 12px;
    background-repeat: no-repeat;
}

#frame #sidepanel #contacts ul li.contact .wrap span.undefined,
#frame .content .contact-profile .info-conversation i.undefined,
#frame .content #group-participant .list-group-part .info-part span.undefined {
    background-image: url("./../../../../assets/images/undefined.png");
    background-size: 12px 12px;
    background-repeat: no-repeat;
}

#frame #sidepanel #contacts ul li.contact .wrap img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap img {
        margin-right: 0px;
    }
}

#frame #sidepanel #contacts ul li.contact .wrap .meta {
    display: grid;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap .meta {
        display: none;
    }
}

#contacts ul li.contact .wrap .name-notify {
    position: relative;
    float: left;
}

#contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
    width: 77%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#contacts ul li.contact .wrap .meta .name-notify .badges-notify {
    height: 15px;
    border-radius: 50%;
    padding: 0px 10px;
    text-align: center;
    margin-left: 0px;
    position: absolute;
    right: 0;
    bottom: 2pt;
}

#contacts ul li.active .wrap .meta .name-notify .badges-notify {
    /*right: -5px;*/
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .name-notify .badges-color {
    background: red;
}

#frame #sidepanel #contacts ul li.active .wrap .meta .name-notify .badges-notify {
    /*right: 0px !important;*/
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
    /*margin: 5px 0 0 0;*/
    /*padding: 0 0 1px;*/
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
    position: initial;
    border-radius: initial;
    background: none;
    border: none;
    padding: 0 2px 0 0;
    margin: 0 0 0 1px;
    opacity: .5;
}

#frame #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#frame #sidepanel #bottom-bar button {
    float: left;
    border: none;
    width: 50%;
    padding: 10px 0;
    background: #32465a;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button {
        float: none;
        width: 100%;
        padding: 15px 0;
    }
}

#frame #sidepanel #bottom-bar button:focus {
    outline: none;
}

#frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: 1px solid #2c3e50;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid #2c3e50;
    }
}

#frame #sidepanel #bottom-bar button:hover {
    background: #435f7a;
}

#frame #sidepanel #bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button i {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button span {
        display: none;
    }
}

#frame .content {
    float: right;
    width: 67.7%;
    height: 100%;
    /*overflow: hidden;*/
    position: relative;
}

@media screen and (max-width: 735px) {
    #frame .content {
        width: calc(100% - 58px);
        min-width: 300px !important;
    }
}

@media screen and (min-width: 900px) {
    #frame .content {
        width: calc(100% - 340px);
    }
}

#frame .content .contact-profile {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
    border-top: 1px solid darkgray;
}

#frame .content .contact-profile .info-conversation-participant {
    float: left;
    width: 70%;
    position: relative;
    margin-top: 12px;
}

#frame .content .contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
    cursor: pointer;
}

#frame .content .contact-profile .info-participant, #frame .content .contact-profile .info-conversation {
    width: 100%;
}

#frame .content .contact-profile .info-participant .star {
    visibility: hidden;
    font-size: 30px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    line-height: 16px;
    color: tomato;
}

#frame .content .contact-profile .info-participant .star:before {
    content: "\2605";
    position: absolute;
    visibility: visible;
}

#frame .content .contact-profile .info-participant .star:checked:before {
    content: "\2606";
    position: absolute;
    color: #eca70c
}

#frame .content .contact-profile .info-participant {
    line-height: normal;
    line-height: 0px;
}

#frame .content .contact-profile .info-participant .favorite-participant {
    float: left;
}

#frame .content .contact-profile .info-conversation .favorite-conversation {
    position: absolute;
    top: 25px;
    margin-left: 4px;
}

#frame .content .contact-profile .info-conversation i.favorite-conversation {
    margin: -2px 0 0 6px !important;
    color: saddlebrown;
    font-size: 16px;
}

#frame .content .contact-profile .info-conversation span.status-name {
    text-transform: capitalize;
}

#frame .content .contact-profile p {
    line-height: initial;
    font-size: 130%;
    margin-left: 32px;
    left: 25px;
    margin-bottom: inherit;
    white-space: nowrap;
}

#frame .content .contact-profile .cursor {
    cursor: pointer;
    height: 24px;
}

#frame .content .contact-profile .info-conversation {
    position: unset;
    left: 60px;
    font-size: small;
    line-height: normal;
}

#frame .content .contact-profile .info-conversation span {
    display: block;
    float: left;
    line-height: normal;
}

#frame .content .contact-profile .info-conversation span:first-of-type, #frame .content .contact-profile .info-conversation a {
    color: #0c0d0e;
    white-space: nowrap;
    margin-left: 25px;
}

#frame .content .contact-profile .info-conversation .info-group {
    /*margin: 0px !important;*/
    padding: 0;
    display: block;
    margin: 3px 0px 0px 7px;
}

#frame .content .contact-profile .info-conversation span.status-space {
    margin: 0 5px;
}

#frame .content .contact-profile .info-conversation a:hover {
    text-decoration: none;
}

#frame .content .contact-profile .social-media {
    float: right;
}

#frame .content .contact-profile .social-media i {
    margin-left: 14px;
    cursor: pointer;
    font-size: 20px;
}

#frame .content .contact-profile .social-media i:nth-last-child(1) {
    margin-right: 20px;
}

#frame .content .contact-profile .social-media i:hover {
    color: #435f7a;
}

#frame .content .contact-profile .social-media .plus-user {
    background-image: url("./../../../../assets/images/plus-user.png");
    background-size: 19px 19px;
    background-repeat: round;
    width: 19px;
    height: 19px;
}

#frame .content .contact-profile .social-media .plus-group {
    background-image: url(./../../../../assets/images/plus-group.png);
    background-size: 19px 19px;
    background-repeat: round;
    width: 19px;
    height: 19px;
}

#frame .content #group-participant {
    background: white;
    /*display: block;*/
    /*padding: 5px 20px;*/
    border-bottom: 1px solid brown;
    border-top: 1px solid brown;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#frame .content #group-participant .list-group-part {
    /*display: inline-flex;*/
    display: block;
    width: 100%;
    padding: 5px 10px 0px 10px;
    float: left;
    max-height: 100px;
}

#frame .content #group-participant .list-group-part .info-part {
    margin-left: 6px;
}

#frame .content #group-participant .list-group-part .info-part:first-child {
    /*margin-left: 0;*/
}

#frame .content #group-participant .list-group-part .show-info-participants {
    border: 1px solid aquamarine;
    background: aquamarine;
    border-radius: 9px 10px;
    padding: 2px 13px 2px 11px;
    font-weight: 500;
    display: block;
    float: left;
    margin-bottom: 5px;
}

#frame .content #group-participant .list-group-part .check-participant {
    background: #077db4 !important;
    color: white;
    border: 1px solid #077db4;
}

#frame .content #group-participant .list-group-part li {
    padding: 0px 17px 0 11px;
    list-style: none;
    position: relative;
    cursor: pointer;
}

#profile .wrap #accCurrent .btn-status-use,
#frame .content .contact-profile .info-conversation .favorite-conversation,
#frame .content #group-participant .list-group-part .status-info-part {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-size: 15px 15px !important;
    display: block;
}

#frame .content #group-participant .list-group-part .info-part .stype-list {
    position: absolute;
    left: 0px;
    margin-left: 3px;
}

#frame .content #group-participant .list-group-part .info-part span.status-info-name {
    margin-left: 12px;
}

#frame .content .messages {
    height: auto;
    /*min-height: calc(100% - 93px);*/
    /*max-height: calc(100% - 93px);*/
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

@media screen and (max-width: 735px) {
    #frame .content .messages {
        max-height: calc(100% - 105px);
    }
}

#frame .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

#frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

#frame .content .messages ul li {
    /*display: inline-block;*/
    display: flex;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}

#frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
}

#frame .content .messages ul li.sent img {
    /*margin: 4px 8px 0 0;*/
}

#frame .content .messages ul li.sent p {
    background: #435f7a;
    color: #f5f5f5;
    margin: 0;
    clear: inherit;
    word-wrap: break-word;
    word-break: break-all;
}

#frame .content .messages ul {
    margin: 0;
}

#frame .content .messages ul li.replies img {
    float: right;
    margin: 6px 0 0 8px;
}

#frame .content .messages ul li.replies p {
    background: #f5f5f5;
    float: right;
    clear: unset;
    margin: 0;
    word-wrap: break-word;
    word-break: break-all;
}

#frame .content .messages ul li img {
    width: 33px;
    border-radius: 50%;
    float: left;
}

#frame .content .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 72%;
    line-height: 130%;
}

@media screen and (min-width: 735px) {
    #frame .content .messages ul li p {
        max-width: 72%;
    }

    #frame .content .contact-profile .info-conversation-participant {
        width: 65%;
    }
}

#frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
    border-top: 1px solid brown;
    background: whitesmoke;
    border-bottom: 1px solid darkgray;
    display: block;
}

#frame .content .message-input .wrap {
    position: relative;
    /*padding: 1px 0px 1px 10px;*/
    display: block;
}

#frame .content .message-input .wrap .box_msg {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    display: block;
    width: 82%;
    font-size: 1em;
    resize: none;
    color: #32465a;
    margin: 5px 0px 5px 15px;
    padding: 9px 113px 9px 3px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@media screen and (max-width: 735px) {
    #frame .content .message-input .wrap .box_msg {
        width: 87%;
    }
}

#frame .content .message-input .wrap .box_msg:focus {
    outline: none;
}

#frame .content .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 14px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
}

@media screen and (max-width: 735px) {
    #frame .content .message-input .wrap .attachment {
        margin-top: 17px;
        right: 65px;
    }
}

#frame .content .message-input .wrap .attachment:hover {
    opacity: 1;
}

#frame .content .message-input .wrap .sms-send {
    float: right;
    border: none;
    width: 33px;
    height: 33px;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
    border-radius: 50%;
    margin-right: 14px;
}

@media screen and (max-width: 735px) {
    #frame .content .message-input .wrap .sms-send {
        /*padding: 16px 0;*/
    }
}

#frame .content .message-input .wrap .sms-send:hover {
    background: #435f7a;
}

#frame .content .message-input .wrap .sms-send:focus {
    outline: none;
}

/*---------------------------S list contact -------------------------*/
.list-contact {
    position: relative;
    width: 250px;
    display: block;
    z-index: 999;
    border: 1px solid;
    background: #cdcdde;
    font-size: 12px;
    padding: 5px;
}

.search-results-contacts {
    display: inline-block;
    float: left;
    width: 100%;
}

.search-contacts {
    display: block;
    float: left;
    width: 100%;
    margin: 0 !important;
}

.search-contacts .search-single {
    width: calc(100% - 26px);
    padding: 5px 12px;
    margin: 0;
}

.box-action-friend {
    width: calc(100% - 6px);
    background: #f2f3ec;
    display: inline-block;
    padding: 4px 3px;
    border-radius: 5px;
    float: left;
    min-height: 35px;
    max-height: 60px;
    overflow-y: scroll;
    margin-bottom: 1px;
}

.name-contact {
    width: auto;
    float: left;
    margin: 5px 6px 6px 0;
    position: relative;
}

span.name-act {
    background: #00aeef;
    padding: 3px 18px 3px 4px;
    border: 1px solid #41849c;
    color: white;
    font-weight: 500;
    border-radius: 12px;
}

.name-contact .act-aptach {
    position: absolute;
    right: 4px;
    top: 2px;
    cursor: pointer;
    color: snow;
}

ul li.contact-list:hover {
    background: #b0c5da;
    color: white;
}

.data-contact {
    overflow-y: scroll;
    background: lavender;
    padding: 5px 7px;
    height: 130px;
}

li.contact-list {
    width: 100%;
    float: left;
    z-index: 9999;
    overflow: visible;
    margin: 2px 0;
    padding: 5px 0;
}

.wap-contact .meta-contact p {
    white-space: nowrap;
    width: 77%;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    word-spacing: normal;
}

.wap-contact img {
    width: 27px;
    float: left;
    display: inline;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid darkorange;
}

.action-friend {
    margin-top: 7px;
    text-align: right;
}

.action-friend .btn {
    margin-right: 2px;
}

.action-friend .btn:last-child {
    margin-right: 0px;
}

/*---------------------------E list contact -------------------------*/