<div *ngIf="messageError">{{messageError}}</div>
<!--<div class="inner-content">-->
<div id="question-header">
    <!--&lt;!&ndash;- (typeof header !== 'undefined') ? header : '' &ndash;&gt;-->
</div>

<div id="frame" (window:resize)="onResize()">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <div id="accCurrent" class="aboutCurrent">
                    <span class="btn-status-use {{resultData.classStatusCurrent}}" id="user-status-current"
                          title="Change status"></span>
                    <img id="profile-img" [attr.user-code-id]="resultData.userID"
                         src="{{resultData.pathImgCurrent ? 'assets' + resultData.pathImgCurrent : ''}}"
                         class="{{resultData.classStatusCurrent}}" alt="your profile" title="your profile">
                </div>
                <div class="info-current">
                    <p class="user-name-chat">{{resultData.userName}}</p>
                    <span class="mood-msg-current">{{resultData.moodMessage}}</span>
                </div>
                <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                <div id="status-options">
                    <ul>
                        <li *ngFor="let items of (resultData.listStatus | cutsKeys)" id="status-{{items.value}}"
                            (click)="ngClickChangeStatusUser($event, items.key)"
                            [attr.status]="items.value" [attr.data-value]="items.key"
                            class="channel-status{{items.value == resultData.status ? ' active': ''}}">
                            <span class="status-circle"></span>
                            <p>{{items.value}}</p></li>
                    </ul>
                </div>
                <div id="expanded">
                    <label for="fa-facebook"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                    <input id="fa-facebook" name="twitter" type="text" value="mikeross">
                    <label for="fa-twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                    <input id="fa-twitter" name="twitter" type="text" value="ross81">
                    <label for="fa-instagram"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                    <input id="fa-instagram" name="twitter" type="text" value="mike.ross">
                </div>
            </div>
        </div>
        <div id="box-search-contacts" [attr.data-url]="resultData.urlListContact">
            <label for="search-contact"><i class="fa fa-search" aria-hidden="true"></i></label>
            <input id="search-contact" type="text" maxlength="40" placeholder="Search contacts...">
        </div>
        <div id="contacts" [attr.data-url]="resultData.urlChangeContent">
            <ul id="contacts-your"></ul>
        </div>
        <div id="bottom-bar">
            <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
                <span>Add contact</span>
            </button>
            <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
        </div>
    </div>

    <div class="content" id="content-chat"></div>
</div>

<nav id="context-menu" class="context-menu" style="display: none">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="view"><i class="fa fa-eye"></i>Show profile</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="edit"><i class="fa fa-edit"></i> Edit Task</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="delete"><i class="fa fa-times"></i> Delete Task</a>
        </li>
    </ul>
</nav>

<div class="modal fade" id="myModalParticipant">
    <div id="modal-box-profile" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-show-info" id="html-profile-participants">
                <div class="show-avatar">
                    <div class="img-avatar">
                        <div class="b-img">
                            <img class="img-av" src="https://static.xx.fbcdn.net/images/emoji.php/v9/z88/1/32/1f600.png"
                                 alt=""/></div>
                        <a href="#" title="Update avatar" class="avatar-group">Change avatar</a>
                    </div>
                </div>
                <div class="box-show-info">
                    <div class="info-profile">
                        <ul class="data-show-lable">
                            <li class="lable-profile title-name">
                                Title name
                            </li>
                            <li class="lableprofile">
                                mood msg
                            </li>
                            <li class="lable-profile">
                                country
                            </li>
                            <li class="lable-profile">

                            </li>
                            <hr>
                            <li class="lable-profile">
                                nick
                            </li>
                            <li class="lable-profile">
                                email
                            </li>
                            <li class="lable-profile">num telephone</li>
                            <hr>
                            <li class="lable-profile">Sex</li>
                            <li class="lable-profile">language</li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer act-box">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="_4pi8" role="presentation">
    <div class="_4pi9">
        <div class="_5f0v _4pia uiScrollableArea fade contentAfter" height="90%" style="height: 90%;">
            <div class="uiScrollableAreaWrap scrollable" id="js_gf">
                <div class="uiScrollableAreaBody">
                    <div class="uiScrollableAreaContent">
                        <table cols="6" class="_3-s_ uiGrid _51mz" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr class="_51mx">
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1" class="">
                                            <img class="_1lih _1ift _1ifu img"
                                                 src="https://static.xx.fbcdn.net/images/emoji.php/v9/z88/1/32/1f600.png"
                                                 alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z79/1/32/1f62c.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z9/1/32/1f601.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z8a/1/32/1f602.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zb/1/32/1f603.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51mw _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z8c/1/32/1f604.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="_51mx">
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zd/1/32/1f605.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z8e/1/32/1f606.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zf/1/32/1f607.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z11/1/32/1f609.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z39/1/32/1f60a.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51mw _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z6/1/32/1f642.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="_51mx">
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z1/1/32/263a.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zba/1/32/1f60b.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z3b/1/32/1f60c.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zbc/1/32/1f60d.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z2f/1/32/1f618.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51mw _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zae/1/32/1f617.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="_51mx">
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zb0/1/32/1f619.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zd8/1/32/1f61a.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zda/1/32/1f61c.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z5b/1/32/1f61d.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z59/1/32/1f61b.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51mw _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z3d/1/32/1f60e.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="_51mx">
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zbe/1/32/1f60f.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z6b/1/32/1f636.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z27/1/32/1f610.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/za8/1/32/1f611.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z29/1/32/1f612.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51mw _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/ze8/1/32/1f633.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="_51mx">
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zdc/1/32/1f61e.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z5d/1/32/1f61f.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zc6/1/32/1f620.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z47/1/32/1f621.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z2b/1/32/1f614.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51mw _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zac/1/32/1f615.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="_51mx">
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z49/1/32/1f623.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z2d/1/32/1f616.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zf8/1/32/1f62b.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z4f/1/32/1f629.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zca/1/32/1f624.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51mw _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z7b/1/32/1f62e.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="_51mx">
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/ze6/1/32/1f631.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zce/1/32/1f628.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z65/1/32/1f630.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zfc/1/32/1f62f.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/zcc/1/32/1f626.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                                <td class="_3-sy _51mw _51m-">
                                    <div class=" _4rlu">
                                        <div aria-label="Pick an Emoji" role="button" tabindex="1"><img
                                                class="_1lih _1ift _1ifu img"
                                                src="https://static.xx.fbcdn.net/images/emoji.php/v9/z4d/1/32/1f627.png"
                                                alt="" style="margin: 0px;"></div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="uiScrollableAreaTrack hidden_elem" style="opacity: 0;">
                <div class="uiScrollableAreaGripper hidden_elem" style="height: 96.2953px; top: 0px;"></div>
            </div>
        </div>
        <div class="_1uwv">
            <table cols="9" class="uiGrid _51mz" cellspacing="0" cellpadding="0">
                <tbody>
                <tr class="_51mx">
                    <td data-hover="tooltip" data-tooltip-content="Recently Sent" class=" _1uwx _51m-">
                        <div class="_1uw-" role="presentation"><img class="_2560 _1ift img"
                                                                    src="https://static.xx.fbcdn.net/images/emoji.php/v9/zac/1/16/1f554.png"
                                                                    alt=""></div>
                    </td>
                    <td data-hover="tooltip" data-tooltip-content="Smileys &amp; People"
                        class="_1uwz _1uwx _51m-">
                        <div class="_1uw-" role="presentation"><img class="_2560 _1ift img"
                                                                    src="https://static.xx.fbcdn.net/images/emoji.php/v9/z51/1/16/1f603.png"
                                                                    alt=""></div>
                    </td>
                    <td data-hover="tooltip" data-tooltip-content="Animals &amp; Nature"
                        class=" _1uwx _51m-">
                        <div class="_1uw-" role="presentation"><img class="_2560 _1ift img"
                                                                    src="https://static.xx.fbcdn.net/images/emoji.php/v9/z5b/1/16/1f43b.png"
                                                                    alt=""></div>
                    </td>
                    <td data-hover="tooltip" data-tooltip-content="Food &amp; Drink" class=" _1uwx _51m-">
                        <div class="_1uw-" role="presentation"><img class="_2560 _1ift img"
                                                                    src="https://static.xx.fbcdn.net/images/emoji.php/v9/z2a/1/16/1f354.png"
                                                                    alt=""></div>
                    </td>
                    <td data-hover="tooltip" data-tooltip-content="Activities" class=" _1uwx _51m-">
                        <div class="_1uw-" role="presentation"><img class="_2560 _1ift img"
                                                                    src="https://static.xx.fbcdn.net/images/emoji.php/v9/zaf/1/16/26bd.png"
                                                                    alt=""></div>
                    </td>
                    <td data-hover="tooltip" data-tooltip-content="Travel &amp; Places"
                        class=" _1uwx _51m-">
                        <div class="_1uw-" role="presentation"><img class="_2560 _1ift img"
                                                                    src="https://static.xx.fbcdn.net/images/emoji.php/v9/z6b/1/16/1f696.png"
                                                                    alt=""></div>
                    </td>
                    <td data-hover="tooltip" data-tooltip-content="Objects" class=" _1uwx _51m-">
                        <div class="_1uw-" role="presentation"><img class="_2560 _1ift img"
                                                                    src="https://static.xx.fbcdn.net/images/emoji.php/v9/z3c/1/16/1f4a1.png"
                                                                    alt=""></div>
                    </td>
                    <td data-hover="tooltip" data-tooltip-content="Symbols" class=" _1uwx _51m-">
                        <div class="_1uw-" role="presentation"><img class="_2560 _1ift img"
                                                                    src="https://static.xx.fbcdn.net/images/emoji.php/v9/z6c/1/16/2764.png"
                                                                    alt=""></div>
                    </td>
                    <td data-hover="tooltip" data-tooltip-content="Flags" class=" _1uwx _51mw _51m-">
                        <div class="_1uw-" role="presentation"><img class="_2560 _1ift img"
                                                                    src="https://static.xx.fbcdn.net/images/emoji.php/v9/zf4/1/16/f0001.png"
                                                                    alt=""></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>-->

<!--</div>-->
