<div class="-container">
    <div class="g-row">
        <div class="-copyright g-row jc-end">
            <div class="g-column jc-sp-between">
                <ul class="-list">
                    <li class="-item"><a class="js-gps-track -link"
                                         data-gps-track="footer.click({ location: 2, link:4 })"
                                         href="https://stackoverflow.blog?blb=1">Blog</a></li>
                    <li class="-item"><a href="https://www.facebook.com/officialstackoverflow/"
                                         class="-link">Facebook</a></li>
                    <li class="-item"><a href="https://twitter.com/stackoverflow" class="-link">Twitter</a></li>
                    <li class="-item"><a href="https://linkedin.com/company/stack-overflow" class="-link">LinkedIn</a>
                    </li>
                </ul>

                <div>
                    <p>
                        site design / logo © 2017 Stack Exchange Inc; user contributions licensed under <a
                            href="https://creativecommons.org/licenses/by-sa/3.0/" rel="license" class="-link">cc by-sa
                        3.0</a>
                        with <a href="https://stackoverflow.blog/2009/06/25/attribution-required/" rel="license"
                                class="-link">attribution required</a>.
                        <span id="svnrev">rev&nbsp;2017.11.16.27769</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>