<footer id="nav-footer" class="nav-footer">
    <div class="center">
        <div class="contentinfo">
            <p>© 2005-2017 Mozilla and individual contributors.</p>
            <p>Content is available under <a href="/en-US/docs/MDN/About#Copyrights_and_licenses">these licenses</a>.
            </p>
        </div>
    </div>
</footer>