<!DOCTYPE html>
<html LANG="EN">

<head>
    <meta charset="UTF-8">
    <title>{DEFINE_TITLE}</title>
    <link rel="shortcut icon" href="https://cdn.sstatic.net/Sites/stackoverflow/img/favicon.ico?v=4f32ecc8f43d">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.sstatic.net/Js/stub.en.js?v=a9d1ca0830f9"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/stackoverflow/all.css?v=897eb449dc3f">

    <link rel="alternate" type="application/atom+xml" title="Feed for question &#39;ES6 Class Multiple inheritance&#39;"
          href="/feeds/question/29879267">
    <meta name="twitter:app:country" content="US"/>
    <meta name="twitter:app:name:iphone" content="Stack Exchange iOS"/>
    <meta name="twitter:app:id:iphone" content="871299723"/>
    <meta name="twitter:app:url:iphone"
          content="se-zaphod://stackoverflow.com/questions/29879267/es6-class-multiple-inheritance"/>
    <meta name="twitter:app:name:ipad" content="Stack Exchange iOS"/>
    <meta name="twitter:app:id:ipad" content="871299723"/>
    <meta name="twitter:app:url:ipad"
          content="se-zaphod://stackoverflow.com/questions/29879267/es6-class-multiple-inheritance"/>
    <meta name="twitter:app:name:googleplay" content="Stack Exchange Android">
    <meta name="twitter:app:url:googleplay"
          content="http://stackoverflow.com/questions/29879267/es6-class-multiple-inheritance">
    <meta name="twitter:app:id:googleplay" content="com.stackexchange.marvin">

    {DEFINE_CSS_DEFAULT}{DEFINE_SCRIPT_DEFAULT}

</head>
<body class="question-page new-topbar">

<div id="notify-container"></div>
<div id="custom-header"></div>

{DEFINE_HEADER}

<div class="container _full ">
    <div id="content" class="snippet-hidden">
        {CONTENT}
    </div>
</div>

{DEFINE_FOOTER}

{INCLUDE_CSS}
{INCLUDE_SCRIPT}
</body>
</html>
